.main {
  /* padding: 1rem; */
  min-height: 100vh;
  background: white;
  
}
/* .ant-menu-item .ant-menu-item-selected .ant-menu-item-only-child */
.ant-menu-item-selected{
  background-color: red;
}